/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f0f0f0;
}

/* SECCION MEDIA */
.team_container {
    background-color: #f4f4f4;
    width: 100%;
    height: 500px; 
    display: flex; 
    position: relative;
    column-gap: 50px;
    justify-content: center;
    padding-top: 50px;
}

/* SECCION IZQUIERDA - EQUIPOS */
.teamfriends_section{
    background-color: #ffffff;
    width: 350px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* TÍTULOS DE LAS CAJAS */
.boxes_titles {
    color: #000000;
    text-align: center;
}

/* LISTAS */
.teamfriends_list{
    width: 100%;
    height: 80%;
    line-height: 3;
    overflow-y: auto;
}

/* DIV DE LAS CAJAS DE BOTONES */
.boxes_box {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
}

/* BOTONES */
.buttons_boxes {
    background-color: #da3335;
    color: #ffffff;
    width: 80px;
    height: 25px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons_boxes:hover {
    background-color: #a72a2c;
    color: white;    
}

.add_teamfriend{
    width: 400px; /* Ancho fijo */
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: calc(50% - 90px);
    background-color: #ffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form_teamfriend{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    background-color: #ffff;

}

.windowButtons{
    width: 80px;
    height: 25px;
    border-radius: 10px;
    background-color: #da3335;
    color:  white; 
    text-align: center;
    font-weight: bold;
    border: none;
}

.teamfriends_list li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actionContainer {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.teamfriends_list li button {
    width: 80px;
    height: 25px;
    border-radius: 10px;
    background-color: #da3335;
    color:  white; 
    text-align: center;
    font-weight: bold;
    border: none;
}

.teamfriends_list li button:hover {
    background-color: #a72a2c;
    color: white;    
}


