/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f0f0f0;
}

/* SECCION MEDIA */
.team_container {
    background-color: #f4f4f4;
    width: 100%;
    height: 500px; 
    display: flex; 
    column-gap: 50px;
    justify-content: center;
    padding-top: 50px;
}

/* SECCION IZQUIERDA - EQUIPOS */
.teamfriends_section{
    background-color: #ffffff;
    width: 350px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 80px;
}

/* TÍTULOS DE LAS CAJAS */
.boxes_titles {
    color: #000000;
    text-align: center;
}

/* LISTAS */
.teamfriends_list{
    height: 80%;
    line-height: 3;
}

/* DIV DE LAS CAJAS DE BOTONES */
.boxes_box {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between;
}

/* BOTONES */
.buttons_boxes {
    background-color: #da3335;
    color: #ffffff;
    width: 70px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons_boxes:hover {
    background-color: #a72a2c;
    color: white;    
}
