body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

#sct-formulario{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sct-formulario h2{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
}

#formulario{
    width: 30%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
}

#info{
    padding: 40px;
    font-size: 18px;
    line-height: 28px;
}

input, select {
    width: 100%;
    height: 15px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input{
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: text;
  }

  #formulario a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
    margin-top: 20px;
  }

  #formulario a:hover{
    text-decoration: underline;
}

  .button-container {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

  button {
    font-weight: bold;
    background-color: #da3335;
    color:  white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #9e1a1d;
    color: white;
}

#divider{
    margin-top: 20px;
    color: #000000;
}

#registro {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 10px; 
}

#registro span, #registro a {
    line-height: 1.5; 
    margin-right: 5px; 
}
