/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f0f0f0;
}

/* SECCION MEDIA */
.main_container {
    background-image: url("../images/fondomain.png"); 
    background-color: #ffffff;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    border: none;
    display: flex;
    justify-content: space-between;
}

.main_menu {
    background-color: #ffffff;
    border: none;
    height: 100%;
    width: 16%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
}

/* Division de los botones */
.buttons_main {
    background-color: #da3335;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 16px 24px;
    width: 100%;
    font-size: 15px;
    color: #ffffff;
    text-align: end;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.buttons_main:hover {
    background-color: #a72a2c;
    color: white;    
}


/* Clase de la */
.banners_container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
    height: 100%;
    width: 20%;
}

.banners_info {
    height: 150px;
    width: calc(100% - 48px); 
    background-color: #a72a2c;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;

    font-size: 15px;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
