/* Estilos Generales */
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* Header */
header {
    width: 100%;
    height: 150px;
    background-color: #1e3c74;
    color: #ffcc0f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-left {
    font-size: 34px;
    font-weight: bold;
    padding-left: 50px;
}

.header-right {
    padding-right: 100px;
    font-size: 20px;
}

.header-right a:hover{
    text-decoration: underline;
}

.header-right a {
    text-decoration: none;
    margin-left: 20px;
    cursor: pointer;
    color: #ffcc0f;
}

#sct_banner {
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el formulario horizontalmente */
    background-color: #f4f4f4;
}

/* Footer */
footer{
    height: 120px;
    background-color: #1e3c74;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffcc0f;
}

#contactos{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

#contactos a{
    font-family: "Oswald", sans-serif;
    padding-left: 12px;
}

#contactos :hover{
    text-decoration: underline;
}

footer a{
    color: #ffcc0f;
    text-decoration: none;
    padding-right: 40px;
}

footer a:hover{
    text-decoration: underline;
}

/* CSS de registro */

h2{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
    color: #070707;
}
.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Ancho fijo */
    max-width: 95%; /* Asegura que no se vea demasiado grande en pantallas pequeñas */
    margin: auto; /* Centra el contenedor en la página */
}

.registro {
    font-size: 34px;
    font-weight: 500;
    color: #070707;
    margin: 0 0 20px 0;
    text-align: center;
}

.registration-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.registration-container form label {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 300;
    color: #070707;
}

.registration-container form input[type="email"],
.registration-container form input[type="text"],
.registration-container form input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 300;
}

.registration-container form input.invalid {
    border-color: red;
}

.registration-container .id-options {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 300;
}

.registration-container .id-options label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    color: #070707; /* Color de la letra */
}

.registration-container .id-options input[type="radio"] {
    margin-top: 5px;
    margin-right: 5px;
}

.registration-container form button {
    padding: 10px 20px;
    background-color: #da3335; /* Color del botón */
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: unset;
}

.registration-container form button:hover {
    background-color: #9e1a1d;
}

.registration-container p {
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #070707;
}

.registration-container a {
    color: #070707;
    text-decoration: none;
    font-weight: 600;
}

.registration-container a:hover{
    text-decoration: underline;
}
